header.wrapper
	.header__logo Blitz
	nav
		.topnav#myTopnav
			.menuGroup
				.triangleDown
				a(href="index.html") HOMEPAGE </br>
				a(href="index.html") HOME
			.menuGroup
				.triangleDown
				a(href="about.html") Who  are  we?<br>
				a(href="about.html") ABOUT
			.menuGroup
				.triangleDown
				a(href="projects.html") MY  Portfolio<br>
				a(href="projects.html") PROJECTS
			.menuGroup
				.triangleDown
				a(href="blog.html") Latest  News<br>
				a(href="blog.html") BLOG
			.menuGroup
				.triangleDown
				a(href="contact.html") Get in  touch<br>
				a(href="contact.html") CONTACT
			.menuGroup.icon#menu
				.triangleDown
				a(href="#") &#9776
				a(href="#") &#9776