// galaxy fold: 280px
// galaxy s5: 360px
// $screen-sm: 576px 
// $screen-md: 768px 
// $screen-lg: 992px 
// $screen-xl: 1200px + 

//1200px - 992px
@media (max-width: 992px)
	main
		section.projects
			grid-template-columns: repeat(2, auto)
		section.works
			grid-template-columns: repeat(3, auto)
	footer 
		.footer-container
			.footer-right
				p
					margin-left: 200px

//768px - 992px
@media (max-width: 992px)
	header
		padding: 0 20px
	main
		section.swiper
			margin: 0 20px
		section.projects
			padding: 0 20px
		section.works-separator
			margin: 0 20px
		section.works
			padding: 0 20px
	main.about
		padding: 0 20px
		section.aboutContainer
			grid-template-columns: repeat(2,auto)
		section.aboutContainerStaff
			display: grid
			grid-template-columns: repeat(2,auto)
	footer 
		.footer-container
			.footer-right
				p
					margin-left: 150px
// @media (max-width: 940px)

//576px - 768px
@media (max-width: 768px)
	header
		position: relative
		flex-direction: column
		nav
			.topnav
				.menuGroup
					display: none
					.triangleDown
						display: none
					&.burgerIcon
						display: flex
						position: absolute
						right: 0
						top: 30px
			.topnav.responsive
				flex-direction: column
				.menuGroup
					display: flex
				.menuGroup:not(:last-child)
					margin-top: 10px
	main
		section.works
			grid-template-columns: repeat(2, auto)
	main.about
		padding: 0 20px
		section.aboutContainer
			grid-template-columns: repeat(1,auto)
		section.aboutContainerStaff
			display: grid
			grid-template-columns: repeat(1,auto)
	



@media (max-width: 576px)
	main
		section.projects
			grid-template-columns: repeat(1, auto)
		section.works
			grid-template-columns: repeat(1, auto)
	main.about
		section.aboutContainer
			grid-template-columns: repeat(1,auto)
		section.aboutContainerStaff
			.aboutStaffBlock
				img
					width: 298px*0.8
					height: 134px*0.8
				
	footer 
		.footer-container
			flex-direction: column
			overflow-wrap: break-word
			.footer-left
				p
					font-size: 10px
			.footer-right
				p
					margin-left: 0
					margin-top: 10px
					font-size: 10px