// $screen-sm: 576px 
// $screen-md: 768px 
// $screen-lg: 992px 
// $screen-xl: 1200px + 

//1200px - 992px
@media (max-width: 992px)
	main
		section.projects
			grid-template-columns: repeat(2, auto)
		section.works
			grid-template-columns: repeat(3, auto)
	footer 
		.footer-container
			.footer-right
				p
					margin-left: 200px

//768px - 992px
@media (max-width: 992px)
	header
		padding: 0 20px
	main
		section.swiper
			margin: 0 20px
		section.projects
			padding: 0 20px
		section.works-separator
			margin: 0 20px
		section.works
			padding: 0 20px
	footer 
		.footer-container
			.footer-right
				p
					margin-left: 150px
// @media (max-width: 940px)

//576px - 768px
@media (max-width: 768px)
	header
		position: relative
		flex-direction: column
		nav
			.topnav
				.menuGroup
					display: none
					.triangleDown
						display: none
					&.burgerIcon
						display: flex
						position: absolute
						right: 0
						top: 30px
			.topnav.responsive
				flex-direction: column
				.menuGroup
					display: flex
					&.burgerIcon
				.menuGroup:not(:last-child)
					margin-top: 10px
	main
		section.works
			grid-template-columns: repeat(2, auto)
@media (max-width: 576px)
	main
		section.projects
			grid-template-columns: repeat(1, auto)
		section.works
			grid-template-columns: repeat(1, auto)
	footer 
		.footer-container
			flex-direction: column
			overflow-wrap: break-word
			.footer-left
				p
					font-size: 10px
			.footer-right
				p
					margin-left: 0
					margin-top: 10px
					font-size: 10px

// @media (max-width: 1007px)
// 	main
// 		section.mainImgContainer
// 			width: auto
// 		section.description
// 			width: auto
// 			height: auto
// 		section.works-separator
// 			display: flex
// 			img
// 				width: 20%
// 		section.works
// 			grid-template-columns: repeat(3, 220px)
// 			.works-container
// 				.works-bottom
// 					margin-bottom: 10px
// 	main.about
// 		section.aboutContainerStaff
// 			grid-template-columns: repeat(2,300px)
// @media (max-width: 1003px)
// 	main
// 		border: 3px solid orange
// 	main.projects,main.blog,main.contact
// 		flex-direction: column
// @media (max-width: 998px)
// 	header
// 		// border: 3px solid pink
// 	main
// 		border: 3px solid violet
// 	main.about
// 		section.aboutContainer
// 			grid-template-columns: repeat(2,275px)
// @media (max-width: 976px)
// 	header
// 		border: 3px solid pink
// 	main
// 		border: 3px solid blue
		// section.projects
		// 	grid-template-columns: repeat(2, 275px)
		// 	.projects-bottom
		// 		margin-bottom: 10px

// @media (max-width: 981px)
// 	header
// 		section.headerContainer
// 			nav
// 				.topnav
// 					margin: 0 0 0 50px
// //responsive menu
// @media (max-width: 900px)
// 	header
// 		section.headerContainer
// 			width: 100%
// 			nav
// 				width: 100%
// 				.topnav
// 					.menuGroup
// 						display: none
// 						margin-left: auto
// 						&.icon
// 							display: flex
// 				.topnav.responsive
// 					flex-direction: column
// 					height: 450px
// 					position: relative
// 					top: 60px
// 					left: -200px
// 					.menuGroup
// 						display: flex
// 						margin-bottom: -30px
// 						margin-left: 0
// 						&.icon
// 							position: absolute
// 							top: -60px
// 							right: -200px
// 						&:hover .triangleDown
// 							visibility: hidden
// @media (max-width: 768px)
// 	main
// 		section.works
// 			grid-template-columns: repeat(2, 220px)
// @media (max-width:728px)
// 	main.projects
// 		section.leftBlock
// 			.posts
// 				grid-template-columns: repeat(2, 209px)
// @media (max-width: 688px)
// 	main.about
// 		section.aboutContainerStaff
// 			grid-template-columns: repeat(1,300px)
// @media (max-width: 679px)
// 	main.about
// 		section.aboutContainer
// 			grid-template-columns: repeat(1,300px)
// @media (max-width: 657px)
// 	main
// 		section.projects
// 			grid-template-columns: repeat(1, 220px)
// @media (max-width: 560px)
// 	main.contact
// 		section.leftBlock
// 			.contactForm
// 				p
// 					textarea
// 						width: 216px
// @media (max-width: 528px)
// 	main
// 		border: 3px solid red
// 		section.mainImgContainer
// 			width: auto
// 			.left-block
// 				width: auto
// 				height: auto
// 				// padding: 0
// 				padding: 0px 17px
// 				p
// 					&:first-child
// 						font-size: 17px
// 					&:last-child
// 						font-size: 20px
// 		section.works
// 			grid-template-columns: repeat(1, 220px)
// @media (max-width: 503px)
// 	main.projects
// 		section.leftBlock
// 			.posts
// 				grid-template-columns: repeat(1, 209px)
// @media (max-width: 445px)
// 	main.projects,main.blog,main.contact
// 		section.leftBlock
// 			section.worldsContainer
// 				span
// 					display: block
// 					text-align: center
// @media (max-width: 414px)
// 	main
// 		border: 3px solid black
		// section.mainImgContainer
		// 	img
		// 	.left-block
		// 		p
		// 			&:first-child
		// 			&:last-child
		// 	.right-block
		// 		div
		// 			&:first-child
		// 	.triangle-up
		// section.description
		// 	h1
		// 	p
		// section.projects
		// 	grid-template-columns: repeat(2, 250px)
		// 	border: 3px solid red
		// 	.projects-top
		// 		h1
		// 		img
		// 	p
		// 	.projects-bottom
		// section.works-separator
		// 	img
		// 	h1
		// section.works
		// 	.works-container
		// 		.work-top
		// 			h1
		// 			p
		// 		.works-bottom