mixin firstBlock(varText)
	.firstBlock
		h1= varText
		p.
			Etiam eget mi enim, non ultricies nisi voluptatem, illo inventore veritatis et quasi architecto beatae<br>
			vitae dicta sunt explicabo nemo enim ipsam voluptatem.
