footer
	.footer-line
	.footer-container
		.footer-left
			p All Content Copyright 2012 - <span>Blitz</span> All Rights Reserved.
		.footer-right
			p Site Developed by BriWS. 2019
	script(type="text/javascript" src="js/script.js")
