* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/Helvetica65Medium22443.woff") format("woff"); }

body {
  font-family: 'Bebas Neue';
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  body p {
    font-family: 'Helvetica Neue';
    font-size: 12px; }

a {
  text-decoration: none; }

.wrapper {
  max-width: 940px; }

.topLine {
  height: 7px;
  width: 100%;
  background-color: #e2e2e2; }

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 50px; }
  header .header__logo {
    color: #474747;
    font-family: 'Pacifico';
    font-size: 42px;
    margin-top: 30px; }
  header nav .topnav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    header nav .topnav .menuGroup {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      header nav .topnav .menuGroup.icon {
        display: none; }
      header nav .topnav .menuGroup .triangleDown {
        border: 10px solid transparent;
        border-top: 10px solid #ebebeb;
        margin: 0 auto 20px;
        visibility: hidden; }
      header nav .topnav .menuGroup a {
        color: #bfbfbf;
        font-size: 15px;
        white-space: nowrap; }
        header nav .topnav .menuGroup a:last-child {
          color: #474747;
          font-size: 26px; }
    header nav .topnav .menuGroup:not(:nth-of-type(5)) {
      margin-right: 55px; }
    header nav .topnav .menuGroup:hover .triangleDown {
      visibility: visible; }

main section.mainImgContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative; }
  main section.mainImgContainer img {
    width: 100%; }
  main section.mainImgContainer .left-block {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    background-color: #444444;
    width: 217px;
    height: 72px;
    padding: 10px 17px; }
    main section.mainImgContainer .left-block p {
      font-family: 'Bebas Neue';
      text-transform: uppercase; }
      main section.mainImgContainer .left-block p:first-child {
        color: #9a9a9a;
        font-size: 17px; }
      main section.mainImgContainer .left-block p:last-child {
        color: #ffffff;
        font-size: 34px; }
  main section.mainImgContainer .triangle-up {
    position: absolute;
    border: 12px solid transparent;
    border-bottom: 12px solid #f7f7f7;
    bottom: 0;
    left: 50%; }

main section.description {
  background-color: #f7f7f7;
  padding-top: 10px; }
  main section.description h1 {
    font-size: 19px;
    line-height: 21px;
    padding: 0 0 10px 16px; }
  main section.description p {
    padding: 0 0 15px 15px;
    font-size: 14px; }

main section.projects {
  margin: 66px 0 0 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  -webkit-column-gap: 45px;
     -moz-column-gap: 45px;
          column-gap: 45px; }
  main section.projects .projects-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    main section.projects .projects-top h1 {
      font-size: 25px;
      line-height: 25px; }
    main section.projects .projects-top img {
      margin-right: 33px; }
  main section.projects p {
    font-family: 'Helvetica Neue';
    font-size: 14px;
    line-height: 17px;
    margin-top: 30px; }
  main section.projects .projects-bottom {
    margin-top: 10px; }
    main section.projects .projects-bottom .buttonContainer {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      main section.projects .projects-bottom .buttonContainer a {
        color: black; }
        main section.projects .projects-bottom .buttonContainer a img {
          margin-right: 10px;
          width: 17px;
          height: 9px; }
      main section.projects .projects-bottom .buttonContainer a h1 {
        font-size: 14px; }

main section.works-separator {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 65px 0px 0 0;
  overflow: hidden; }
  main section.works-separator img {
    height: 29px; }
  main section.works-separator h1 {
    font-size: 22px;
    padding: 0 30px 0 20px;
    white-space: nowrap; }

main section.works {
  display: grid;
  margin: 52px 0 0 0;
  grid-template-columns: repeat(4, auto);
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px; }
  main section.works .worksContainer .work-top h1 {
    margin: 10px 0 0 0;
    font-size: 18px; }
  main section.works .worksContainer .work-top p {
    margin: 10px 0 0 0;
    line-height: 18px; }
  main section.works .worksContainer .works-bottom {
    margin-top: 10px; }
    main section.works .worksContainer .works-bottom .buttonContainer {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      main section.works .worksContainer .works-bottom .buttonContainer a {
        color: black; }
        main section.works .worksContainer .works-bottom .buttonContainer a img {
          margin-right: 10px;
          width: 17px;
          height: 9px; }
      main section.works .worksContainer .works-bottom .buttonContainer a h1 {
        font-size: 14px; }

footer {
  width: 100%; }
  footer .footer-line {
    width: 100%;
    background: url("../img/footer_Line.png");
    background-repeat: repeat-x;
    height: 7px;
    margin-top: 65px;
    z-index: 1; }
  footer .footer-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 70px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background: #f8f8f8;
    margin: -3px 0 0 0; }
    footer .footer-container .footer-left p, footer .footer-container .footer-right p {
      font-size: 13px;
      white-space: nowrap; }
    footer .footer-container .footer-right p {
      margin-left: 438px; }

/*# sourceMappingURL=style.css.map */
