include includes/firstBlock

<!DOCTYPE html>
html(lang="en")
	.topLine
	include includes/head
	body
		include includes/header
		.wrapper
			main.about
				+firstBlock("ABOUT US")
				include includes/separator
				section.aboutContainer
					.aboutBlock
						h1 OUR PHILOSOPHY
						p.
							Etiam eget mi enim, non ultricies nisi voluptatem, illo inventore
							veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem.
						p.
							Sed ut perspiciatis unde omnis iste natus error sit
							voluptatem accusantium doloremque laudantium, totam
							rem aperiam, eaque ipsa quae ab illo inventore veritatis et
							quasi architecto beatae vitae dicta sunt explicabo. Donec ut
							volutpat metus. Aliquam tortor lorem, fringilla tempor
							dignissim at, pretium et arcu. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
							doloremque laudantium, totam rem aperiam, eaque ipsa
							quae ab illo inventore veritatis.
					.aboutBlock
						h1 OUR MISSION
						p.
							Etiam eget mi enim, non ultricies nisi voluptatem, illo inventore
							veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem.
						p.
							Sed ut perspiciatis unde omnis iste natus error sit
							voluptatem accusantium doloremque laudantium, totam
							rem aperiam, eaque ipsa quae ab illo inventore veritatis et
							quasi architecto beatae vitae dicta sunt explicabo. Donec ut
							volutpat metus. Aliquam tortor lorem, fringilla tempor
							dignissim at, pretium et arcu. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
							doloremque laudantium, totam rem aperiam, eaque ipsa
							quae ab illo inventore veritatis.
					.aboutBlock
						h1 OUR  HISTORY
						p.
							Etiam eget mi enim, non ultricies nisi voluptatem, illo inventore
							veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem.
						p.
							Sed ut perspiciatis unde omnis iste natus error sit
							voluptatem accusantium doloremque laudantium, totam
							rem aperiam, eaque ipsa quae ab illo inventore veritatis et
							quasi architecto beatae vitae dicta sunt explicabo. Donec ut
							volutpat metus. Aliquam tortor lorem, fringilla tempor
							dignissim at, pretium et arcu. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
							doloremque laudantium, totam rem aperiam, eaque ipsa
							quae ab illo inventore veritatis.
				include includes/separator
				section.aboutContainerStaff
					.aboutStaffBlock
						img(src="img/people.jpg", alt="")
						.blockLeftRight
							.left
								h1 JANE DOE
								h1 CEO
							.right
								h1 1.306.432.0065
						p.
							Seded ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laud antium, totam rem aperiam.
					.aboutStaffBlock
						img(src="img/people.jpg", alt="")
						.blockLeftRight
							.left
								h1 JANE DOE
								h1 Executive Administrator
							.right
								h1 1.306.432.0065
						p.
							Seded ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laud antium, totam rem aperiam.
					.aboutStaffBlock
						img(src="img/people.jpg", alt="")
						.blockLeftRight
							.left
								h1 JANE DOE
								h1 Realitor
							.right
								h1 1.306.432.0065
						p.
							Seded ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laud antium, totam rem aperiam.
		include includes/footer
