include includes/firstBlock
mixin blockBlog(varH1,varImg)
	.blockBlog
		h1= varH1
		img(src=varImg, alt="")
		.blockBlogContainer
			.blockBlogLeft
				h1 DATE
				p April 15, 2012
				h1 TAGS
				p Website | Design
				h1 Comments
				p 4
			.blockBlogRight
				p.
					Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu.
				p.
					Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis  ...
<!DOCTYPE html>
html(lang="en")
	include includes/head
	body
		include includes/header
		.wrapper
			main.projects
				section.leftBlock
					+firstBlock("BLOG")
					include includes/separator
					+blockBlog("top  10  web  design  blogs","img/blog/blog1.jpg")
					include includes/separator
					+blockBlog("Amazing  free  PORtfolio  psd  theme","img/blog/blog2.jpg")
					include includes/separator
					+blockBlog("Best  wallpapers  of  2012","img/blog/blog3.jpg")
					include includes/clickerImgs
				include includes/rightBlock
		include includes/footer
