include includes/button
<!DOCTYPE html>
html(lang="en")
    include includes/head
    body
        include includes/header
        main.wrapper
            section.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        img(src="img/jesus.jpg")
                        .left-block
                            p This Months
                            p FEATURED WORK
                        .triangle-up
                    .swiper-slide
                        img(src="img/slide2.jpg")
                        .left-block
                            p Lorem ipsum
                            p Dolor sit
                        .triangle-up
                    .swiper-slide
                        img(src="img/slide3.jpg")
                        .left-block
                            p Amet consectetur
                            p Adipisicing elit
                        .triangle-up
                    .swiper-slide
                        img(src="img/slide4.jpg")
                        .left-block
                            p Nam officia
                            p Temporibus quaerat
                        .triangle-up
                .swiper-pagination
            section.description
                h1 JESUSTYPOGRAPHY WALLPAPER
                p.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non diam et lacus pulvinar venenatis et vestibulum velit. Pellentesque interdum faucibus dui hendrerit ultrices. Aliquam erat volutpat. Duis commodo turpis id diam pulvinar hendrerit.
            section.projects
                .projects-container
                    .projects-top
                        img(src="img/magnify_glass.png", alt="magnify_glass")
                        h1 Check Out OUR latest PROJECTS
                    p.
                        Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posue re ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis. Aenean sodales nibh non lectus tempor a interdum justo ultricies.
                    .projects-bottom
                        +button("FIND OUT MORE","#")
                .projects-container
                    .projects-top
                        img(src="img/star.png", alt="magnify_glass")
                        h1 Guarantee  5  STar Quality Work
                    p.
                        Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posue re ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis. Aenean sodales nibh non lectus tempor a interdum justo ultricies.
                    .projects-bottom
                        +button("FIND OUT MORE","#")
                .projects-container
                    .projects-top
                        img(src="img/dialog.png", alt="magnify_glass")
                        h1 Stay connected  by reading  the  blog
                    p.
                        Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posue re ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis. Aenean sodales nibh non lectus tempor a interdum justo ultricies.
                    .projects-bottom
                        +button("FIND OUT MORE","#")
            section.works-separator
                img(src="img/works-separator-background.png" alt="")
                h1 My latest work
                img(src="img/works-separator-background.png" alt="")
            section.works
                .worksContainer
                    .work-top
                        img(src="img/work1.jpg", alt="work1")
                        h1 Vallarta Brochure
                        p.
                            Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posue re ut elementum enim rutrum.
                    .works-bottom
                        +button("VIEW PROJECTS","#")
                .worksContainer
                    .work-top
                        img(src="img/work2.jpg", alt="work2")
                        h1 Photoshop tutorial
                        p.
                            Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posue re ut elementum enim rutrum.
                    .works-bottom
                        +button("VIEW PROJECTS","#")
                .worksContainer
                    .work-top
                        img(src="img/work3.jpg", alt="work3")
                        h1 Business cards
                        p.
                            Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posue re ut elementum enim rutrum.
                    .works-bottom
                        +button("VIEW PROJECTS","#")
                .worksContainer
                    .work-top
                        img(src="img/work4.jpg", alt="work4")
                        h1 Website design
                        p.
                            Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posue re ut elementum enim rutrum.
                    .works-bottom
                        +button("VIEW PROJECTS","#")
        include includes/footer